* {
    margin:0 auto;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}